__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
node_modules/
capitulos_pdf_bot/
.git/
.github/
.vscode/
.idea/
*.log
reporte_pdf_integridad_*.csv
bot/logs/
bot/capitulos_pdf_bot/
